<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/home/world/show-reviews.css" />
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <div id="left">
        <div id="logo">
          <span>Review</span><span>Good</span><span>Boook</span>
        </div>
        <div>About</div>
      </div>
      <div id="right">
        <div id="search">
          <button id="search-btn">Search</button>
          <input
            id="search-input"
            type="text"
            placeholder="Search reviews discussions of books "
          />
        </div>
        <div id="auth">
          <div id="username"><%= user.userName %></div>
          <button><a href="/users/auth/logout">Log out</a></button>
        </div>
      </div>
    </div>
    <!-- Side Bar -->
    <div id="right-side-bar">
      <div>Discover</div>
      <hr />
      <div style="text-align: center">Review</div>
      <div>Best Reviews of Week</div>
      <div>Best Reviews of Month</div>
      <div>Best Reviews Of Year</div>
      <hr />
      <div style="text-align: center">Discussion</div>
      <div>Best Discussions of Week</div>
      <div>Best Discussions of Month</div>
      <div>Best Discussions Of Year</div>
    </div>

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div><a href="/world">World</a></div>
      <div>Home</div>
    </div>
    <div id="main-display">
      <% reviews.forEach(function(review){ %>
      <div class="review-card">
        <div class="content">
          <p><%= review.bookInfo.name %></p>
          <p><%= review.title %></p>
          <p>Stars: <%= review.stars %></p>
          <p>Status: <%= review.status %></p>
        </div>
        <div class="action">
          <p style="display: none"><%= review._id %></p>

          <button>View</button>
          <% if (review.status === 'Hide') { %>
          <button disabled>Hide</button>
          <% } else { %>
          <button>Hide</button>
          <% } %>
          <!-- <button>Hide</button> -->
          <% if (review.status === 'Publish') { %>
          <button disabled>Publish</button>
          <% } else { %>
          <button>Publish</button>
          <% } %>
          <!-- <button>Publish</button> -->
          <button>Edit</button>
          <button>Delete</button>
        </div>
      </div>
      <% }); %>
    </div>

    <div id="show-notify">
      <div class="modal">
        <div class="model-content">
          <div id="notify-container">
            <p id="notify-message"></p>
            <div id="button-container">
              <button id="yes">Yes</button>
              <button id="no">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim,
      necessitatibus tempore. Unde vero labore animi nostrum, dicta blanditiis
      error saepe quisquam debitis modi, optio officia culpa molestiae,
      doloremque necessitatibus commodi.
    </div>
    <script src="/static/home/review/show-reviews.js"></script>
  </body>
</html>
