<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/libs/github-markdown.min.css" />
    <link rel="stylesheet" href="/static/home/review/show-a-review.css" />

    <script
      src="https://kit.fontawesome.com/85891aa0c2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../../common/header'); %>
    <!-- Side Bar -->

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div id="world">
        <a href="/world"><i class="fa-solid fa-earth-asia fa-lg"></i>World</a>
      </div>
      <div id="sperator"></div>
      <div id="home">
        <a href="/home" class="active"
          ><i class="fa-solid fa-house fa-lg"></i>Home</a
        >
      </div>
    </div>
    <div id="main-display">
      <div id="meta-info">
        <div id="book-info">
          <p>Book: <%= review.bookInfo.name %></p>
          <p>Author: <%= review.bookInfo.author %></p>
          <p>Genre: <%= review.bookInfo.genre %></p>
        </div>
        <div id="review-info">
          <p>Reviewer: <%= user.username %></p>
          <p>Stars: <%= review.stars %></p>
        </div>
      </div>
      <div id="review-content" class="markdown-body"><%- review.content %></div>
    </div>

    <%- include('../../common/show'); %>

    <!-- Footer -->
    <%- include('../../common/footer'); %>

    <script src="/static/common/show.js"></script>
    <script src="/static/common/avatar.js"></script>
    <!-- <script src="/static/world/review/show-a-review.js"></script> -->
  </body>
</html>
