<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A place where people find reviews of good book and discussion with other."
    />

    <link
      rel="shortcut icon"
      href="/static/images/book.png"
      type="image/x-icon"
    />
    <title>World</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
    />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/libs/github-markdown.min.css" />
    <link rel="stylesheet" href="/static/world/review/show-a-review.css" />

    <script
      src="https://kit.fontawesome.com/85891aa0c2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../../common/header'); %>
    <!-- Side Bar -->

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div id="world">
        <a href="/world" class="active"
          ><i class="fa-solid fa-earth-asia fa-lg"></i>World</a
        >
      </div>
      <div id="sperator"></div>
      <div id="home">
        <a href="/home"><i class="fa-solid fa-house fa-lg"></i>Home</a>
      </div>
    </div>
    <div id="main-display">
      <div id="meta-info">
        <p style="display: none" id="review-id"><%= review._id %></p>
        <div id="book-info">
          <p>
            <i class="fa-solid fa-book-atlas"></i> <%= review.bookInfo.name %>
          </p>
          <p>
            <i class="fa-solid fa-pen-nib"></i> <%= review.bookInfo.author %>
          </p>
          <p><i class="fa-solid fa-dna"></i> <%= review.bookInfo.genre %></p>
        </div>
        <div id="review-info">
          <p>
            <i class="fa-solid fa-user-pen"></i> <%= review.author.username %>
          </p>
          <div id="star">
            <p>
              <i class="fa-solid fa-star"></i>
              <span id="star-num"><%= review.stars %></span>
            </p>
            <button id="give-star">Give star</button>
          </div>
        </div>
      </div>
      <div id="review-content" class="markdown-body"><%- review.content %></div>
    </div>

    <!-- Footer -->
    <%- include('../../common/footer'); %>

    <!-- Show -->

    <%- include('../../common/show'); %>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.46.1/dist/instantsearch.production.min.js"></script>
    <script src="/static/common/search.js"></script>
    <script src="/static/common/show.js"></script>
    <script src="/static/common/avatar.js"></script>
    <script src="/static/world/review/show-a-review.js"></script>
  </body>
</html>
